<%= form_for wiki do |f| %>

  <% if wiki.errors.any? %>
    <div>
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title", class:"text_field" %>
  </div><br>

  <div class="form-group edit_wiki_body">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body", class:"text_area" %>
  </div>

  <% if user_can_privatize_the_wiki?(wiki) %>
    <div class="form-group">
      <%= f.check_box :private %>
      <%= f.label :private %>
    </div>
    <br><br>
    <p>Add collaborators to this wiki:</p>
      <table>
        <thead>
          <td>Name</td>
          <td>Email</td>
          <td>Role</td>
          <td>Give Access</td>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= check_box_tag 'access[]', user.id, wiki.collaborators.pluck(:user_id).include?(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

  <% end %>


  <br>
  <div class="form-group">
    <%= f.submit "Save", class:"submit_button" %>
  </div>

<% end %>
