<div>
  <h1><%= @wiki.title %></h1>

  <p><%= @wiki.body %></p>

  <% if user_can_edit?(@wiki) %>
    <span class="edit_button"><%= link_to "Edit", edit_wiki_path(@wiki) %></span>
  <% end %>
  <% if user_can_delete?(@wiki) %>
    <span class="delete_button"><%= link_to "Delete", @wiki , method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
  <br><br>
  <span class="button"><%= link_to "All Wikis", wikis_path %></span>

</div>
